<div class="preview">
    
    <div class="elements" style="border: 1px solid red; background: wheat;">
        <p>Test Day</p>
        <p>Test Date</p>
        <p>Test Time</p>
        <p>Test Temperature</p>
    </div>
    <%= image_tag(screen.image_url, class: "") %>
</div>