<form action="/submit-your-data" method="post" class="justify-center">
  <h3>Properties:</h3>
  
  <div>
    <input type="checkbox" id="day" name="info" value="day">
    <label for="day">Day</label>
  </div>
  
  <div>
    <input type="checkbox" id="date" name="info" value="date">
    <label for="date">Date</label>
  </div>
  
  <div>
    <input type="checkbox" id="time" name="info" value="time">
    <label for="time">Time</label>
  </div>
  
  <div>
    <input type="checkbox" id="temperature" name="info" value="temperature">
    <label for="temperature">Temperature</label>
  </div>
  
</form>
