<div id="<%= dom_id screen %>" class="screen-container">
    <div >
        <%= image_tag(screen.image_url, class: "rounded img-thumbnail") %>
        <p class="screen-title"><%= screen.title %></p>  
    </div>
</div>
