<p style="color: green"><%= notice %></p>

<%= button_to "Create New", new_screen_path, class: "btn btn-primary float-end", method: :get %>

<h1>Screens</h1>

<hr>

<div id="screens" class="container">
  <div class="row">
      <% @screens.each do |screen| %>
        <div class="col-4">
          <%= link_to screen do %>
            <%= render 'thumbnail', screen: screen %>
           <% end %>
        </div>
      <% end %>
  </div>
</div>





