:root {
    --background-color: #f1f8fc;
    --main-color: #f2613f;
    --hover-color: #9b3922;
    --text-color: #fff;
}


html, body {
    background-color: var(--background-color);
}

a {
    color: var(--main-color);
}

.btn {
    background-color: var(--main-color);
    border-color: var(--main-color);
    padding: 0.5rem 1rem;
}

.btn:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

input:focus {
    outline-color: var(--main-color);
}


/*.row {
    border: 1px solid red;
}*/

.thumbnail {
    position: relative;
    text-align: center;  
    overflow: hidden;
    margin: 1rem;
}

.thumbnail img {
    max-height: 200px;
    width: 100%;
}

.thumbnail img:hover {
    transform: scale(1.1);
}

.thumbnail-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    text-align: center; 
}
