:root {
    --background-color: #f1f8fc;
    --main-color: #62d2a2;
    --hover-color: #1fab89;
    --secondary-color: #adadad;
}


html, body {
    background-color: var(--background-color);
}

.btn {
    background-color: var(--main-color);
    border-color: var(--main-color);
    padding: 0.5rem 1rem;
}

.btn:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

input {
    padding: 0.25rem;
}

input[type=email], input[type=password], input[type=text]  {
    width: 100%;
    margin-bottom: 1rem;
    background: none;
    border: none;
    border-bottom: 1px solid gray;
}

input:focus {
    outline: none;
    border-bottom: 1px solid var(--main-color);
}

a {
    color: var(--main-color);
}

form {
    margin: 0 auto;
}

form em {
    color: var(--secondary-color);
}

.sign-in-container, .sign-up-container {
    margin-top: 4rem;
}

.sign-in-container h2 , .sign-up-container h2 {
    margin-bottom: 4rem;
    text-align: center;
}

.thumbnail {
    position: relative;
    text-align: center;  
    overflow: hidden;
    margin: 1rem;
}

.thumbnail img {
    max-height: 200px;
    width: 100%;
}

.thumbnail img:hover {
    transform: scale(1.1);
}

.thumbnail-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    text-align: center; 
}
